/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */
.description {
    font-size: 12pt;
    color: #b12e1c;
    font-weight: bold;
    font-family: Times New Roman;
    display: block;
}

#ImageNavigation {
    margin-left: 10px;
    top: -50px;
}

    #ImageNavigation a {
        text-decoration: none;
    }

    #ImageNavigation div {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 20px;
        text-align: center;
    }

        #ImageNavigation div img {
            margin-left: auto;
            margin-right: auto;
        }

        #ImageNavigation div label {
            text-align: center;
            width: 100%;
            color: #5a9742;
            font-weight: bold;
        }

.StartProject {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    top: -80px;
    position: relative;
    display: block;
}

.servicepage {
    top: -65px;
    position: relative;
}

    .servicepage .servicetext {
    }

.hide-on-full {
    visibility: hidden;
}

#menubar {
    background-image: url('/Images/logo.png');
    background-position: center;
    display: block;
}


/* #Misc
================================================== */
.remove-bottom {
    margin-bottom: 0 !important;
}

.half-bottom {
    margin-bottom: 10px !important;
}

.add-bottom {
    margin-bottom: 20px !important;
}

.audiojs {
    width: 460px;
    height: 36px;
    background: none !important;
    overflow: hidden;
    font-family: monospace;
    font-size: 12px;
    background-image: none !important;
    background-image: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    float: left !important;
    position: relative !important;
}

.time {
    visibility: hidden !important;
}

.scrubber {
    visibility: hidden !important;
}

.play-pause {
    border-right: none !important;
}

p .play {
}

.rpt {
    /*background-image: url(/images/rpt.jpg);*/
    background-repeat: repeat-y;
    background-position: left;
    background-size: contain;
    width: 980px;
    background-size: 1023px;
    -moz-background-size: 99%;
    top: -15px;
}

    .rpt div {
        padding-left: 10px;
        padding-right: 10px;
    }



.footer {
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 140px;
}

.header {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 321px;
    width: 2000px;
    text-align: center;
}

#menubar {
    height: 300px;
    width: 100%;
    max-width: 2000px;
    min-width: 950px !important;
    margin-left: auto;
    margin-right: auto;
}

#menu {
    width: 1200px;
    text-align: right;
    padding-top: 5px;
    top: -110px;
    position: inherit;
    margin-left: auto !important;
    margin-right: auto !important;
    font-family: 'Rye', cursive;
    left: -10px;
}
/* menu
----------------------------------------------------------*/
#mobile_menu li {
    /*background-image: url("/images/moblebttns.png");*/
    padding: 0;
    line-height: 0px;
    margin-bottom: 0;
    visibility: hidden;
}

.menu_spaceafter {
    margin-right: 40px;
}

#mobile_menu a {
    padding-left: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

ul#menu {
    font-size: 10pt;
    font-weight: 600;
    margin: 0;
    text-align: center;
    top: 200px;
    left: -20px;
    position: relative;
    float: inherit;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 20px;
        padding-right: 20px;
    }

        ul#menu li a {
            background: none;
            color: #6a2317;
            text-decoration: none;
            font-family: 'Rye', cursive;
            font-size: 15pt;
            font-weight: 500;
        }

            ul#menu li a:hover {
                color: #ffffff;
                text-decoration: none;
            }

.services {
    position: absolute;
    top: 7px;
    z-index: 110;
    display: inline;
    list-style: none;
    margin-left: -30px;
}

.submenu {
    background: #88bb55;
    position: absolute;
    top: -12px;
    left: 13.5em;
    z-index: 100;
    width: 165px;
    display: none;
    margin-left: 10px;
    padding: 40px 0 5px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
    text-align: left;
}

    .submenu ul {
        padding-left: 15px;
    }

        .submenu ul li {
            line-height: 1em;
        }

.root li a {
    color: #555555;
    display: block;
    font-weight: bold;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
    text-decoration: none;
}

.dropdown li a:hover {
    background: #155FB0;
    color: #FFFFFF;
    text-decoration: none;
}

.root {
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding: 11px 0 0 0px;
    border-top: 1px solid #dedede;
}

.noPadding {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.TextBlock {
    padding-left: 20px;
    padding-right: 75px;
}

input textarea {
    border: 1px solid #acacac;
}


/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
    #menubar {
        background-size: 960px;
        background-repeat: no-repeat;
        background-position: top;
        height: 350px;
    }

        #menubar li {
            padding-left: 10px;
            padding-right: 10px !important;
        }

            #menubar li a {
                font-size: 10pt !important;
                padding-left: 10px;
                padding-right: 10px;
            }

    #menu {
        top: 90px !important;
        text-align: center;
        left: 70px !important;
    }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #menubar ul li {
        padding-left: 10px;
        padding-right: 85px;
        float: left;
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .hide-on-mobile {
        visibility: hidden;
        margin: 0;
        padding: 0;
        height: 0;
        width: 0;
    }

    #menubar ul li {
        padding-left: 10px;
        padding-right: 20px;
        float: left;
    }

    .hide-on-mobile {
        visibility: hidden;
        margin: 0;
        padding: 0;
        height: 0;
        width: 0;
    }

    .hide-on-full {
        visibility: visible;
    }

    .StartProject {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        top: 0px;
        position: relative;
        left: -18px;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

    #menubar ul li {
        padding-left: 10px;
        padding-right: 10px;
        float: left;
    }

    .slider-wrapper {
        margin-left: 30px;
    }

    .StartProject {
        top: 0px;
        position: relative;
        padding-right: 20px;
        left: -10px;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    .rpt {
        background-size: 100%;
    }

    #ImageNavigation {
        width: 260px;
        margin-left: 0;
        margin-right: 0;
    }

    .container rpt {
        background-color: #ffffff;
    }

    #menubar {
        visibility: hidden;
    }

    .header {
    }

    #mobile_menu li {
        line-height: 30px;
        visibility: visible;
    }


    .StartProject {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        top: 30px;
        position: relative;
        left: -10px;
    }

    .servicepage {
        top: -35px;
        position: relative;
    }

        .servicepage .servicetext {
            left: -40px;
            position: relative;
        }

    .content-image-right {
        left: -10px;
        position: relative;
    }

    .input-mobile {
        width: 270px;
        padding-left: 10px;
        top: 60px;
        float: left;
        position: relative;
    }

    #recaptcha_table {
        left: -25px;
        position: relative;
        float: left;
        width: 100px;
    }

    .contactpage {
        top: 135px;
        position: relative;
        float: left;
    }

    .aboutpage {
        top: 35px;
        left: -20px;
        position: relative;
        float: left;
    }

        .aboutpage .container {
            left: 10px;
        }

        .aboutpage .img {
            left: -10px;
            position: relative;
        }
}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
