@model dynamic

@{
    ViewBag.Title = "Thank You!";
}

<div style="text-align: center;" >
    <img src="~/Images/thanks.png" />
<p >
<b style="color:#fad49c">We will review your message and be in touch posthaste.</b>
</p></div>
